@font-face {
  font-family: 'Patrick Hand';
  src: url('//fonts.googleapis.com/css?family=Patrick+Hand') format('truetype');
}

.rose-container {
  text-align: center;
  margin-top: 2px;
  font-size: 18px;
  color:  #0047AB;
}

.rose-word {
  margin: 2px 0;
  font-size: 55px;
}

.rose-letter {
  margin: 0 7px;
  font-weight: bold;
}

.rose-used-letters {
  margin-bottom: 5px;
  font-size: 18px;
  color:  #0047AB;
}

.rose-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Patrick Hand';
  align-items: center;
  margin-top: 20px;
  max-width: 400px;
  margin-left: auto;
  text-decoration: none;
  margin-right: auto;
}

.rose-button:focus,
.rose-button:hover {
  outline: none;
  box-shadow: none;
}

.rose-buttons button {
  margin: 4px;
  padding: 10px 15px;
  font-size: 22px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: transform 0.3s ease;
  width: calc(10% - 10px); 
  display: flex;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Patrick Hand';
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

.rose-button:active {
  transform: translateY(2px); /* Add a slight downward movement when button is pressed */
}

@media screen and (max-width: 480px) {
  .rose-buttons {
    max-width: 300px; /* Adjust the max-width for smaller screens */
  }

  .rose-buttons button {
    width: calc(25% - 10px); /* Adjust the width to fit more buttons in a row */
  }
}

.rose-message {
  font-size: 16px;
  font-weight: bold;
  color: #FF0000;
  margin-bottom: 10px;
}

.rose-message span {
  color:  #FF0000;
}

.rose-message button {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 20px;
  max-width: 360px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #0047AB;
  margin-bottom: 40px;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  position: relative; /* Add position relative */
  border-radius: 6px;
  border: none;
  background-color: #F5F5F5;
  width: 120px;
  height: 40px;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Add overflow hidden */
}

.btn:focus,
.btn:hover {
  outline: none;
  box-shadow: none;;
}

body {
  font-family: "Patrack Hand", sans-serif;
  font-weight: bold;
  font-style: bold;
  background-image: url('paper.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

footer {
  background-color: transparent;
  text-align: center;
  padding: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  display: flex; /* Add display flex */
  justify-content: center;
  align-items: center;
  color: #434141;
  margin-top: 60px
}


a {
  outline: none;
  text-decoration: none;
  box-shadow: none;
  color: #434141;
}

a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  box-shadow: none;
  color: #0047AB;
}

div {
  color: #0047AB;
  font-size: 18px;
  text-align: center;
  font-family: Patrick Hand;
}

.result {
  margin-top: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlighter {
  position: relative;
  display: inline-block;
}

.highlighter::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.9em;
  background-color: #FFD700; /* Set the highlighter color here */
  z-index: -1;
  bottom: 0.1em;
}

.highlighter::after {
  content: '';
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.line {
  position: relative;
  display: inline-block;
}

.line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1em;
  background-color: #FF0000; 
  z-index: -1;
  bottom: 0.1em;
}

.line::after {
  content: '';
  position: relative;
  z-index: 1;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  /* Update styles for mobile screens */

  .container {
    max-width: 100%; /* Adjust the container width to fit the screen */
  }

  .rose-buttons {
    max-width: 100%; /* Adjust the max-width for smaller screens */
    flex-wrap: wrap; /* Allow buttons to wrap onto the next line */
    justify-content: center; /* Center-align buttons */
    margin-left: auto; /* Add auto margin to center horizontally */
    margin-right: auto;
    text-decoration: none;
  }

  .rose-buttons button {
    
    margin-bottom: 8px; 
    text-decoration: none;
  }

  .rose-message button {
    max-width: 100%; /* Adjust the max-width for smaller screens */
  }

  .btn {
    font-size: 16px; /* Decrease font size for smaller screens */
    width: 100%; /* Adjust button width to fit the container */
  }

  a {
    color: #000000; 
    text-decoration: none;
  }
}
